@import '../../constants/variables.scss';

.TopNav {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.site-title-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  
  .site-title {
    margin: 0 25px;
    font-size: 40px;
  }
  
  .nav {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .nav-tab {
      height: 100%;
      line-height: 60px;
      padding: 0 .7rem
    }
  }
}
.site-buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  .site-button {
    height: 100%;
    line-height: 60px;
    padding: 0 .7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}